.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #e9edc9;
  justify-content: center;
  align-items: center;
}

.footer a {
  color: rgb(5, 5, 74)
}

.footer a:hover {
  text-decoration: underline;
}